{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% include 'header.html' %}
<div class="container mt-4">
    <h2 class="mb-4">{% trans "Statuses" %}</h2>
    <div class="d-flex justify-content-left my-4">
        <a class="btn btn-primary btn-sm" href="{% url 'create_status' %}" role="button">{% translate "Create status" %}</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "ID" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Creation Date" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>
                <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'update_status' pk=status.id %}" class="btn btn-light btn-sm">{% trans "Update" %}</a>
                    <a href="{% url 'delete_status' pk=status.id %}" class="btn btn-light btn-sm">{% trans "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% include 'footer.html' %}