<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status View</title>
</head>
<body>
    <h1>{{ header }}</h1>
    <table class="table">
        <thead>
            <tr>
                {% for field in form.visible_fields %}
                    <th>{{ field.label }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
                <tr>
                    {% for field in form.visible_fields %}
                        <td>{{ obj|get_field_value:field.name }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
</body>
</html>