{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<body class="d-flex flex-column min-vh-100">
    <div class="container d-flex align-items-center justify-content-center h-100">
        <div class="card bg-light border-0 shadow mt-5 w-100">
            <div class="card-body">

                <h1 class="text-center mb-4">{{ operation }}</h1>

                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button button_text button_type="submit" button_class="btn btn-primary" %}
                </form>
                
            </div>
        </div>
    </div>
</body>