{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% include 'header.html' %}
    <h1 class="my-4">{% trans "Tasks" %}</h1>
    <a class="btn btn-primary mb-3" href="{% url 'create_task' %}" role="button">{% translate "Create task" %}</a>
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center" method="get">
                {% bootstrap_form filter.form %}
                {% bootstrap_button button_text button_type="submit" button_class="btn btn-primary" %}
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "ID" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Author" %}</th>
            <th>{% trans "Executor" %}</th>
            <th>{% trans "Creation Date" %}</th>
        </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr class="align-middle">
                <td>{{ task.id }}</td>
                <td><a href="{% url 'view_task' pk=task.id %}">{{ task.name }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.author }}</td>
                <td>{{ task.executor }}</td>
                <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'update_task' pk=task.id %}" class="btn btn-light btn-sm">{% trans "Update" %}</a>
                    <a href="{% url 'delete_task' pk=task.id %}" class="btn btn-light btn-sm">{% trans "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% include 'footer.html' %}